:root {
    --base-color: ivory;
    --border-color: rgba(255, 255, 240, 0.705);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: var(--base-color);
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    background-repeat: no-repeat;
    /* set content to center with grid */
    display: grid;
    place-items: center;
    text-align: center;
}

body * {
    font-family: "Poppins", sans-serif;
}

h1, h2 {
    font-weight: 400;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color:rgb(127, 252, 252);
}

a:hover {
    text-decoration: underline;
    color: rgb(96, 199, 199)
}

.time {
    font-size: 3em;
    display: block;
}

.welcome {
    font-size: 0.7em;
}

.date,
.time,
.greeting-time {
    margin-bottom: 1rem;
}

.user-name {
    min-width: 3ch;
    font-size: inherit;
    border: none;
    background: inherit;
    color: rgb(127, 252, 252);
}

.user-name:focus {
    text-decoration: underline;
    outline: none;
}

.focus-answer {
    border: 2px solid var(--border-color);
    color: var(--base-color);
    background: inherit;
    text-align: center;
    height: 3em;
}

/* font size grows as screen gets bigger */
@media (min-width: 40em) {
    .date {
        font-size: 1em;
    }
    
    .time {
        font-size: 4em;
    }

    .welcome {
        font-size: .8em;
    }

    .focus-answer {
        font-size: 1em;
    }
}